.gametablecontainer {
    gap: 20px;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 200px 200px auto;
    grid-template-areas:    ".          gameboard"
                            "opponents  gameboard"
                            "chat       buttons"
                            "stand      stand";   
}

.gametable__board {
    grid-area: gameboard;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.gametable__board--grid {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gametable__board--alert {
    position: absolute;
    opacity: 0;

    height: 100%;
    width: 100%;
    font-size: 3em;

    align-items: center;
    justify-content: center;
    animation: 3s alertOpacity forwards;
    
}

.gametable__board--alert > *:not(h1) {
    font-size: 0.3em;
}

@keyframes alertOpacity {
    0% { opacity: 0; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}