.gametable__tile {
    width: 60px;
    height: 80px;
    border-radius: 6px;
    background-image: url('tile.png');

    color: black;
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.gametable__tile:hover {
    cursor: pointer;
}