.welcomenewlobby__data {
    gap: 20px;
    width: 400px;
    padding: 40px;

    align-items: center;
    justify-content: center;

    color: rgb(220, 220, 220);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.welcomenewlobby__data > p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(140, 140, 140);
}

.welcomenewlobby__buttons {
    margin-top: 20px;
    gap: 20px;
}

.welcomenewlobby__clients {
    gap: 15px;
}

.welcomenewlobby__clients img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.welcomenewlobby__clients li {
    gap: 10px;
    align-items: center;
    margin-bottom: 6px;
}