.lobbychat__container {
    color: rgb(220, 220, 220);
    background-color: rgba(10, 10, 10, 0.8);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    backdrop-filter: blur(8px);

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
    position: absolute;
    justify-content: space-between;
    
    gap: 20px;
    bottom: 120px;
    padding: 10px;
    width: 500px;
    height: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lobbychat__container ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.lobbychat__input {
    padding: 8px 10px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid rgb(60, 60, 60);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: 100%;
}

.lobbychat__input:focus::placeholder {
    opacity: 0;
}

.lobbychat__inputcontainer {
    gap: 10px;
    align-items: center;
}

.lobbychat__inputcontainer img {
    width: 20px;
    height: 20px;
    filter: invert(1);
    opacity: 0.6;
}

.lobbychat__inputcontainer img:hover {
    cursor: pointer;
}

.lobbychat__container--system {
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(65, 154, 228);
    margin-bottom: 10px;
    margin-top: 10px;
}

.lobbychat__container--system:first-of-type {
    margin-top: 0px;
    margin-bottom: 10px;
}

.lobbychat__container--message {
    gap: 10px;
}

.lobbychat__container--message > p:first-of-type {
    color: rgb(248, 155, 68);
}

.lobbychat__container--message > p:last-of-type {
    gap: 10px;
}