.gametable__stand {
    position: absolute;
    bottom: 20px;
    right: calc(50% - 375px);

    width: 750px;
    height: 200px;

    padding: 2px;
    flex-wrap: wrap;
    background-image: url('stand.png');
    gap: 5px;

    box-shadow: rgba(0, 0, 0, 0.7) 0px 22px 90px 24px;
}