.gametable__stand {
    grid-area: stand;

    gap: 8px;
    width: 100%;
    padding: 10px;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    color: rgb(220, 220, 220);
    background-color: rgba(10, 10, 10, 0.8);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}